.header {
  position: fixed; /* 고정 */
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.menu-icon {
  display: flex;
  justify-content: center;
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: -3px;
}

.menu-icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.logo {
  height: 70px;
}

.search-bar {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 20px;
}

#search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 20px 20px 0;
  background: #f8f8f8;
  cursor: pointer;
  padding: 0;
}

#search-input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
}

#search-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.user-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 15px;
  object-fit: contain;
  border-radius: 16px;
}
